<mat-card>
    <mat-card-header>
        <mat-card-title>SignUp</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
            </mat-card-actions>
        </form>
        <span *ngIf="showErr" class="error">There was an error signing up!</span>
    </mat-card-content>
    <h4 class="login-link" (click)="redirect_login()">Login</h4>
</mat-card>